@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", system-ui;
}

html {
    font-size: 10px;
}

body {
    overflow: hidden;
}

.tela {
    background: url("../../Fundo.png") center / cover no-repeat;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    width: 90%;
    max-width: 700px;
    padding: 4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(8px);

    border: 3px solid rgb(0, 255, 255);
    border-radius: 20px;

    box-shadow:
        0 0 20px cyan,
        0 0 60px rgba(0, 255, 255, 0.35);

    animation: aparecer 0.8s ease;
}

.game img {
    width: 80%;
    max-width: 420px;
    position: relative;
    left: 1.7%;
}

.game h1 {
    color: #8ffcff;
    font-size: 3rem;
    text-align: center;

    text-shadow:
        0 0 10px cyan,
        0 0 30px cyan;
}

.game p {
    color: white;
    font-size: 1.4rem;
    text-align: center;
    line-height: 2.4rem;
}

.game .botao {
    width: 260px;
    height: 55px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(180deg, #2fdcff, #0084ff);
    color: white;

    box-shadow: 0 8px 2px #016bce;

    border: none;
    border-radius: 10px;

    font-family: inherit;
    font-size: 1.5rem;
    text-decoration: none;

    cursor: pointer;

    transition: 0.25s;
}

.game .botao:hover {
    transform: translateY(-5px) scale(1.05);

    box-shadow:
        0 0 20px rgb(255, 136, 0),
        0 0 50px rgb(255, 153, 0);

    background: linear-gradient(180deg, #ffb759, #ffa600);
}

.game .botao:active {
    transform: scale(0.90);

    background: linear-gradient(180deg, #d47800, #9c6601);
}

.config {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.config img {
    width: 75px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.config img:hover {
    transform: rotate(45deg) scale(1.1);
}

.config:active{
    transform: scale(.90);
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {

    html {
        font-size: 8px;
    }

    .game {
        width: 95%;
        padding: 3rem 2rem;
    }

    .game img {
        width: 110%;
    }

    .game h1 {
        font-size: 2.3rem;
    }

    .game .botao {
        width: 200px;
        max-width: 300px;
    }
}